@media only screen and (min-width:40em){
    header {
        height: 150px;
    }
    header h1 {
        font-size: 2.5rem;
    } 
    .tagline {  
        font-size: 20px;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation li:first-child {
		display: none;
    }
    .responsive li {
        border-top-style: none;
    }
    .footer-div {
        font-size: 16px;
    }
}