form fieldset {
	margin: 2rem 0;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: .5rem 2%;
}
form legend {
	color: #4275bf;
	margin: 0 1rem;
	padding: 0 .5rem;	
}

form label.top, form div {
	display: block;
	padding-top: 1rem;
	color: #9c2c13;
	font-size: 1rem;
}
form label.top input, form label.top select {
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
}
form label.sbs {
	display: block;
	padding: .35rem 0;
	color: #555;
}
form input.submit-btn {
	border: none;
	background-color: #4CAF50;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}
form label.top input:required {
	border-left: red solid 6px;
}
form label.top input:required:valid {
	border-left: green solid 6px;
	
}
#comments {
    border-radius: 4px;
    margin-top: 15px;
    display: block;
    width: 100%;
    min-width: 295px;
    max-width: 90%;
    min-height: 125px;
}

#storm-severity-value {
    max-width: 20rem;
    text-align: center;
    padding: 0;
    margin-top: -15px;
}
legend {
    font-size: 1.2rem;
}
main h1 {
    padding-bottom: 0;
    color: #4275bf;
    font-weight: bold;
}